*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;    
    font-size: 35px;
}

#Calculator-body{
    margin: 0 auto;
    background-color: #07393C;
    height: 100vh;
    width: 550px;
}

#Calculator-Interior{
    padding: 30px 60px;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(4, 1fr);
    grid-gap: 30px;
    
}

#theScreen{
    grid-column: 1 / span 4 ;
    height: 85px;
    border-radius: 30px;
    font-size: 40px;
}

.common{
    text-align: center;
    border-radius: 50%;
    padding-top: 20px;
}

.Special-Keys{
    background-color: #2C666E;
    color: #F0EDEE;
}

.numbers{
    background-color: #2C666E;
    color: #F0EDEE;
}

.numbers:hover{
    cursor: pointer;
}

.numbers:active{
    background-color: hsl(187, 43%, 49%);
}

.Operations{
    background-color: #90DDF0;
    color: #0A090C;
}

.cero{
    grid-column: 1 / span 2;
    border-radius: 50px;
}